---
// Layout
import Layout from '../layouts/Layout.astro';

// Common
import Hero from '../components/common/Hero.astro';
import About from '../components/common/About.astro';
import Skills from '../components/common/Skills.astro';
import Project from '../components/common/Project.astro';
import Contact from '../components/common/Contact.astro';
import Footer from '../components/common/Footer.astro';
import Navbar from '../components/common/Navbar.astro';
---

<Layout title='Soy Enzo Velo'>
	<div class="flex flex-col min-h-screen bg-background-light/65 dark:bg-black-pearl-950/65">
		<main class="flex-1">
			<Navbar/>
			<Hero/>
			<About/>
			<Skills/>
			<Project/>
			<Contact/>
		</main>
		<Footer/>
	</div>
</Layout>